table{
    width: 50%;
    border-collapse: collapse;
}
th{
    height: 70px;
}

th, td{
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

td{
    text-align: center;
}

.btn{
    padding: 10px;
    border-radius: 5px;
}

.btn-primary{
    background-color: rgb(137, 137, 233);
}


.formbody{
    margin: 10px;
}

label {
    display:inline-block;
    width:200px;
 }

input {
    padding : 10px;
    border-radius: 5px;
}


.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }