:root {
  --primary-color: purple;
  --primary-color__hover: rgb(150, 51, 150);
  --border-color: #bbb;
}

* {
  margin: 0;
  padding: 0;
}

.no-page {
  display: grid;
  height: 100vh;
  justify-content: center;
  align-content: center;
  gap: 1rem;
  text-align: center;
}
